@model IEnumerable<Core.Entity.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Docente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCurso" class="btn btn-primary">Edit</a> |
                    <a asp-action="GetById" asp-route-id="@item.IdCurso" class="btn btn-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCurso" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
